@charset "UTF-8";

.header-logo {
    width: 400px;        /* 通常はこれくらいで表示 */
    max-width: 40vw;     /* 画面幅の40%を上限にする */
    height: auto;        /* 縦横比を崩さない */
}

body {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.3;
    font-size:17px;
    background-color: #191919;
    /* background-color: rgba(3, 3, 3, 0.75); */
    /* background-color: #888; */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

h3{
    margin-bottom: 5px;
}
.streamingLinks a{
    color: inherit;
    text-decoration: none;
}
.streamingLinks a:hover {
    text-decoration: underline; /* ホバーで下線（任意） */
}
.links a{
    color: inherit;
    /* text-decoration: none; */
}
.links a:hover {
    text-decoration: underline; /* ホバーで下線（任意） */
}
.section {
    margin: 0.5rem 0;
    border: 10px solid rgba(225, 255, 255, 0.15);
    border: 1px solid #999;
    outline: 0.5px solid #999;
    outline-offset: 4px;
    border-radius: 10px; /* 角を少し丸める（任意） */
    padding: 0rem 2rem;
    padding-bottom: 1rem;
    /* min-width: 1px; */
    background-color: #fff;
    /* background: rgba(250, 250, 250);  赤基調 */
    /* background: rgba(251, 5, 50, 0.03);  赤基調 */
    /* background: rgba(2, 2, 2, 0.95);  /*黒基調*/ 

}

#pageTitle{
    font-size: 50px;
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.MV h3{
    margin-left: 15px;
    margin-bottom: 5px;
}

.block {
    width: 100%;
}
.YTEmbed{
    margin-left:40px;
}

.section h2{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.section h3{
    margin-left: 15px;
    margin-top: 4px;
    font-size: 1.2rem;
    /* margin-bottom: 4px;   */
}

.section h2,
.section h3 {
  word-break: break-word;      /* 古めのブラウザ向けも含む */
  overflow-wrap: break-word;   /* 推奨 */
  white-space: normal;         /* 強制折り返しを許可 */
}

.profile h3{
    margin-left: 15px;
    /* margin-top: 4px;   */
    margin-bottom: 5px;  
}
.profile img{
    margin-left: 10px;
}
.profile p{
    margin-left: 25px;
}


.section p,
.members p,
.song p{
    line-height: 1.3;
    margin: 4px 0;
}

.section .members p{
    margin-left: 30px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 比率 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 20px;
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.Album_BlueHaze{
    display: block;
}
.Album_BlueHaze p{
    padding-left: 20px;
}

.blueHazeAlbumContent{
    display:flex;
    align-items: center;
    min-width: 0;
    gap: 12px;
    
}
.blueHazePhoto{
    position: relative;
    box-shadow: 0 2px #ccc;
}

.blueHazePhoto:hover{
    box-shadow: 0 1px #ccc;
    top: 2px;
}

.streamingLinks{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.streamingLinks img{
    position: relative;
    width: 80px;
    /* height: 30px; */
    margin-right: 6px;
    margin-top: 15px;
    box-shadow: 0 2px #ccc;
}

.streamingLinks img:hover{
    box-shadow: 0 1px #ccc;
    top: 2px;
}

.songList p{
    margin-left: 20px;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: 0px;
}

.icon{
    width: 18px;
    height: 18px;
}

.icon-rudolf{
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-right: -3px;
}

.link-item {
    line-height: 1.8;
    margin-left: 20px;
}
.links{
    gap:10px;
}

#footer {
    color: white;          /* 文字色を白にする */
    text-align: center;    /* 中央寄せ */
    padding: 20px 0;       /* 上下に少し余白 */
}
#footer ul {
    list-style: none;      /* 点を消す */
    padding: 0;
    margin: 0;
}





/*
Lyrics
================================================ */
.backToHome{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 0px;
    /* text-decoration-color: #b40606; */
}


.lyricSection h2{
    margin-bottom: 0px;
}
.lyricSection .credit{
    margin-left: 10px;
}
.titleLine {
    display: flex;
    align-items: baseline;   /* 文字の下ラインを揃える */
    gap: 12px;               /* h2 と credit の間の余白 */
}
.lyrics{
    white-space: pre-line;
    line-height: 1.8;
}

.toggle-btn {
  background: #f3f3f3;
  border: 1px solid #aaa;
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.toggle-btn:hover {
  background: #e9e3e3;
}



.translation {
    padding: 10px;
    border-left: 4px solid #666;
    background: #f7f7f7;
    margin-bottom: 15px;
}
.hidden{
    display: none;
}



/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .header-logo {
        display: block;
        margin: 0 auto; 
    }
    
    p {
        padding: 0 1rem;
    }
    p,
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
.streamingLinks {
        flex-direction: column;
        gap: 12px;
    }
}



/* スマホ（幅700px未満） */
@media (max-width: 699px) {
  .layout {
    display: block; /* 1列 */
    margin: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


  }
    .titleLine{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;
    }
    .titleLine h2{
        margin: 0px;
        margin-bottom: 0px;
    }

    .titleLine p{
        margin: 0px;
        margin-bottom: 12px;
    }
    .section {
    margin: 1.5rem 0;
    }

    .section h2{
    margin-top: 15px;
}
     
}



/* ▼ PC（700px以上） */
@media (min-width: 700px) {
    .layout {
    display: grid;
    grid-template-columns: repeat(3, 2fr) ; /* 3列 */
    gap: 1.2rem; /* 余白 */
    padding: 0 1.5rem;
  }

}