@charset "UTF-8";

.header-logo {
    width: 400px;        /* 通常はこれくらいで表示 */
    max-width: 40vw;     /* 画面幅の40%を上限にする */
    height: auto;        /* 縦横比を崩さない */
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex; /* ロゴとアイコンを横並びにする */
    justify-content: space-between; /* 両端に配置する (ロゴを左、アイコンを右) */
    align-items: center; /* 垂直方向の中央揃え */
    padding: 10px 20px; /* 上下左右に余白 */
    background-color: #191919; /* bodyと同じ黒基調 */
}

/* #google_translate_element{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    top: -20px;
    } */


.social-icons {
    display: flex;
    padding-top:20px;
    gap: 15px; /* アイコン間のスペース */
    font-size: 28px
}

.social-icons a {
    color: #fff; /* アイコンの色を白に (黒背景に映えるように) */
    text-decoration: none; /* 下線を消す */
    transition: color 0.2s; /*ホバー時の滑らかな変化*/
}

/* ホバー時のスタイル */
.social-icons a:hover {
    color: #ccc; /* ホバーで少し明るい色にする */
}

.noto-serif-jp-300{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    font-family: Calibri, Noto Serif JP;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.3;
    font-size:17px;
    background-color: #191919;
    /* background-color: rgba(3, 3, 3, 0.75); */
    /* background-color: #888; */
}
.card {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* -------------------- */
.news-card {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.news-card .date {
    color: #333b40;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: -10px;
}
/* -------------------- */



img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

h3{
    margin-bottom: 5px;
}
.streamingLinks a{
    color: inherit;
    text-decoration: none;

}
.streamingLinks a:hover {
    text-decoration: underline; /* ホバーで下線（任意） */
}
.links a{
    color: inherit;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline; /* ホバーで下線（任意） */
}
.section {
    margin: 0.5rem 0;
    /* border: 10px solid rgba(225, 255, 255, 0.15); */
    border: 1px solid #999;
    outline: 0.5px solid #999;
    outline-offset: 4px;
    border-radius: 10px; /* 角を少し丸める（任意） */
    padding: 0rem 2rem;
    padding-bottom: 1rem;
    /* min-width: 1px; */
    background-color: #fff;
    /* background: rgba(250, 250, 250);  赤基調 */
    /* background: rgba(251, 5, 50, 0.03);  赤基調 */
    /* background: rgba(2, 2, 2, 0.95);  /*黒基調*/ 

}

#pageTitle{
    font-size: 50px;
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr) ; /* 3列 */
    padding: 0 1.5rem;
}

.MV h3{
    margin-left: 15px;
    margin-bottom: 5px;
}

.mv-card {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.block {
    width: 100%;
}
.YTEmbed{
    margin-left:0px;
}

.section h2{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.section h3{
    margin-left: 15px;
    margin-top: 4px;
    font-size: 1.2rem;
    /* margin-bottom: 4px;   */
}

.section h2,
.section h3 {
  word-break: break-word;      /* 古めのブラウザ向けも含む */
  overflow-wrap: break-word;   /* 推奨 */
  white-space: normal;         /* 強制折り返しを許可 */
}


.profile h3{
    margin-left: 15px;
    /* margin-top: 4px;   */
    margin-bottom: 5px;  
}
.profile-img{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile-img img{
    height: auto;
    width: 250px;
}

.profile p{
    margin-left: 25px;
}


.section p,
.members p,
.song p{
    line-height: 1.3;
    margin: 4px 0;
}

.section .members p{
    margin-left: 30px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 比率 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;

}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.disco-card {
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.disco-card p{
    margin-left: -15px;
    font-weight: bold;
}

.Album_BlueHaze{
    display: block;
}
.Album_BlueHaze p{
    padding-left: 20px;
}

.blueHazeAlbumContent{
    display:flex;
    align-items: center;
    min-width: 0;
    gap: 12px;
    
}
.blueHazePhoto{
    position: relative;
    top: 0px;
    box-shadow: 0 0 0.4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s;
}

.blueHazePhoto:hover{
    box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.2);
    top: -2px;
}

.streamingLinks{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.streamingLinks img{
    position: relative;
    width: 80px;
    top: 0px;
    /* height: 30px; */
    margin-right: 6px;
    margin-top: 15px;
    box-shadow: 0 0 0.4px rgba(0, 0, 0, 0.4); /* 影を柔らかくする */
    transition: box-shadow 0.4s ease-out;

}

.streamingLinks img:hover{
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
    top: -2px;
}

.ListOfSongs{
    padding-left:0px;
    list-style: none;
    font-size: 18px;
}

.ListOfSongs li{
    border-radius: 5px;
    margin:5px;
    padding-right:5px;
    width: fit-content;
    transition: padding 0.3s, background-color 0.3s ease-in-out;
}
.ListOfSongs li:hover{
    background-color: rgba(18, 21, 222, 0.1);
    padding-left:7px;
    /* font-size: 20px; */
    text-decoration: underline;
}

.blueHazeSongs a{
    list-style: none;
    margin: 4px 0;
    text-decoration: none;
    color: inherit;
    
    /* 【変更点】アイコン分の左側スペースを確保 */
    padding-left: 21px; /* アイコンサイズ(18px) + マージン */
    
    /* 【変更点】画像を背景として設定 */
    background-image: url('../images/bluehaze_photo.png');
    background-repeat: no-repeat;
    background-size: 18px 18px; /* アイコンのサイズを設定 */
    
    /* 【変更点】アイコンの位置を調整 */
    background-position: 0 50%; /* 左端から0、垂直方向の中央(50%)に配置 */
    /* 必要なら 50% を調整して画像を微調整 (例: 0 4px) */
}

.torchSongs a{
    text-decoration: none;
    color: inherit;
    list-style: none;
    margin: 4px 0;
    padding-left: 21px;
    background-image: url('../images/tmp_torch_photo.jpg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0 50%; 
}

.badge-eng {
    font-size: 0.9em;       /* 少し小さく */
    color: #655151;           /* 控えめなグレー */
    margin-left: 5px;
    font-weight: normal;   /* 親要素が太字でも標準にする */
}

.icon{
    width: 18px;
    height: 18px;
    position:relative;
    top: 3px;
}

.icon-songs-bluehaze{
    width: 18px;
    height: 18px;
    margin-right: 2px;
    position:relative;
    top: 3px;
}

.icon-rudolf{
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-right: -3px;
    position:relative;
    top: 3px;
}

.link-item {
    line-height: 1.8;
    margin-left: 0px;
    font-size:18px;

}

.link-item a span{ /*linksのアイコンと文字との間のマージン*/
    margin-left: 3px;
    transition: background-color 0.3s ease-in-out;
}

.links{
    gap:10px;
}


.link-item a{
        padding-right:5px;
        transition: padding 0.3s, background-color 0.3s ease-in-out;
}

.link-item a:hover{
    padding-left: 7px;

    background-color: rgba(18, 21, 222, 0.1);
    border-radius: 5px;
    /* font-size: 19px; */
}


#footer {
    color: white;          /* 文字色を白にする */
    text-align: center;    /* 中央寄せ */
    padding: 20px 0;       /* 上下に少し余白 */
}
#footer ul {
    list-style: none;      /* 点を消す */
    padding: 0;
    margin: 0;
}





/*
Lyrics
================================================ */
.backToHome{
    display: inline-block;
    margin-top: 50px;
    margin-left: 0px;
    line-height: 0px;
    /* text-decoration-color: #b40606; */
}
.lyricSection{
    margin-left:40px;;
    max-width: 800px;
    padding-top:10px;

}

.lyricSection h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.icon-songs-bluehaze-lyrics{
    width: 30px;
    height: 30px;
    margin-right: 4px;
    position:relative;
    top: 3px;
}

.lyricSection .credit{
    margin-left: 10px;
}
.titleLine {
    display: flex;
    align-items: baseline;   /* 文字の下ラインを揃える */
    gap: 12px;               /* h2 と credit の間の余白 */
}
.lyrics{
    white-space: pre-line;
    line-height: 1.8;
}

.toggle-btn {
  background: #fbfbfb;
  border: 0.2px solid #aaa;
  /* margin-left: 30px; */
  /* top: -22px; */ 
  /* position: relative;*/
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.75rem;
}

.toggle-btn:hover {
  background: #f6f6f6;
}

.lyricsAndTranslation {
 display: flex;
 flex-direction:row;
}

.creditForTranslation{
    font-style: italic;
    /* font-size: 1rem; */
}

.translation {
    position: relative;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid #999; */
    border-radius: 10px;
    /* border-left: 4px solid #666; */
    /* background: rgb(240, 240, 255);*/ /*水色 */
    background: rgb(255, 255, 255); 
    margin-bottom: 15px;
    margin-left: 110px;
    margin-top: -30px;
    display: block;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.translation .lyrics{
    margin-bottom:10px;
}
.hidden{
    display: none;
}

.backToHome{
        display: flex;
        justify-content: center;
}



/* スマホ（幅1080px未満）★注意！
ここのbp数字を修正した場合、歌詞ページの
obileMediaQuery = window.matchMedia('(max-width: 1080px)
の数値も合わせて修正すること。 
================================================ */

@media (max-width: 1079px) {
  .layout {
    display: block; /* 1列 */
    margin: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
    .titleLine{
        /* flex-direction: column; */
        /* align-items: flex-start; */
        gap: 0.2rem;
    }
    .titleLine h2{
        margin: 0px;
        margin-bottom: 0px;
    }

    .titleLine p{
        margin: 0px;
        margin-bottom: 12px;
    }
    .section {
    margin: 1.5rem 0;
    }

    .section h2{
    margin-top: 15px;
}
    .header-logo {
        height: auto;
        width: 400px;
        max-width: 80vw;
        display: block;
        margin: 0 auto;
    }
    header{
        /* display: inline-flex; */
        flex-direction: column;
        align-items: flex;
        justify-content: center;
        width: auto;
    }
    
    p {
        padding: 0 1rem;
    }

    p,
    .menu-list li {
        font-size: 1rem;
    }

    .streamingLinks {
        flex-direction: column;
        gap: 12px;
    }

    .social-icons{
        position:relative;
        top: 0px;
        padding-top: 3px;
        font-size: clamp(10px, 6vw, 30px);
        gap: 10px
    }

    .links a{
    text-decoration: underline;
    }
    .ListOfSongs li{
        text-decoration: underline;
    }


    /* header{
        position:relative;
        display:flex;
    } */

    /* モバイルのLyrics
    ====================================== */
    .lyricsAndTranslation {
    display: block;
    flex-direction:column;
    }
    .translation {
    padding: 0px;
    padding-left: 0px;
    padding-right: 10px;
    margin-left: 0px;
    margin-top:  20px;
    }


}

/* 小さいモバイルデバイス
======================================= */
@media (max-width: 500px) {

    .titleLine{
        flex-direction: column;
        align-items: flex-start;
    }
    .social-icons{
        font-size: 6vw;
        gap: 6px
    }
}


