@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.3;
}
h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}
.streamingLinks a{
    color: inherit;
    text-decoration: none;
}
.streamingLinks a:hover {
    text-decoration: underline; /* ホバーで下線（任意） */
}

.section {
    margin: 10px 0;
    border: 10px solid rgba(225, 255, 255, 0.15);
    border-radius: 10px; /* 角を少し丸める（任意） */
    padding: 1.4rem;
    background: rgba(251, 5, 50, 0.03);    
}

#pageTitle{
    font-size: 50px;
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.block {
    width: 100%;
}
.YTEmbed{
    margin-left:40px;
}

.section h2{
    font-size: 40px;
}
.section h3{
    margin-left: 15px;    
}
.section .members p{
    margin-left: 30px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 比率 */
    height: 0;
    overflow: hidden;
    max-width: 85%;
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.blueHazeAlbum{
    display:flex;
    align-items: center;
    gap: 12px;
}

.streamingLinks{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 20px 0;
}

.streamingLinks img{
    width: 80px;
    /* height: 30px; */
    margin-right: 6px;
    margin-top: 15px;
}

.lyrics{
    white-space: pre-line;
    line-height: 1.8;
}

/*
MOBILE SIZE
================================================ */
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
    }
    p {
        padding: 0 1rem;
    }
    p,
    .menu-list li {
        font-size: 1rem;
    }
    .hero {
        padding-top: 12vh;
    }
.streamingLinks {
        flex-direction: column;
        gap: 12px;
    }
}



/* スマホ（幅700px未満） */
@media (max-width: 699px) {
  .layout {
    display: block; /* 1列 */
  }
}

/* ▼ PC（700px以上） */
@media (min-width: 700px) {
    .layout {
    display: grid;
    grid-template-columns: repeat(3, 2fr) ; /* 3列 */
    gap: 1.2rem; /* 余白 */
    padding: 0 1.5rem;
  }

}